asgiref==3.11.1
Django==5.0.8
django-cors-headers==4.9.0
djangorestframework==3.17.1
pillow==12.2.0
psycopg[binary]>=3.2,<4
python-dotenv==1.2.2
sqlparse==0.5.5
tzdata==2026.2
djangorestframework-simplejwt
django-filter
psycopg2-binary
drf-spectacular
drf-spectacular-sidecar
